body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #1e293b, #0f172a);
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  color: #94a3b8;
}

/* SECCIONES */
section {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
}

/* SKILLS */
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-list span {
  background: #1e293b;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
}

/* PROYECTOS */
.card {
  background: #1e293b;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #334155;
}

/* CONTACTO */
.contact p {
  color: #94a3b8;
}
